#account-details {
    display: grid;
    grid-template-columns: 1fr;
    gap: 150px;
    margin-bottom: 70px;

    @media(max-width: 1130px) {
        display: flex;
        flex-direction: column;
    }

    .details {
        margin-top: 50px;
        width: 100%;

        #form-success {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
        }

        .basic-info {

            form {
                padding: 1rem;

                h5 {
                    color: var(--color-theme);
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr;
                    grid-template-areas: "firstname" "lastname" "email" "phone" "addressline-1" "addressline-2" "postalcode" "city" "bio" "buttons";

                    @media(max-width: 538px) {
                        display: flex;
                        flex-direction: column;
                    }

                    .form-control {
                        width: 100%;
                    }

                    #form-firstname {
                        grid-area: firstname;
                    }

                    #form-lastname {
                        grid-area: lastname;
                    }

                    #form-email {
                        grid-area: email;
                    }

                    #form-phone {
                        grid-area: phone;
                    }

                    #form-addressline-1 {
                        grid-area: addressline-1;
                    }

                    #form-addressline-2 {
                        grid-area: addressline-2;
                    }

                    #form-postalcode {
                        grid-area: postalcode;
                    }

                    #form-city {
                        grid-area: city;
                    }

                    #form-bio {
                        grid-area: bio;

                        span {
                            color: var(--color-gray-500);
                            font-weight: 400;
                        }
                    }

                    #form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }
                }
            }
        }
    }
}
